.description {
    font-size: 40px;
    width: 100%;
}

.react-logo {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rotate-animation {
    animation: spin 4s linear infinite;
}

.move-animation {
    animation-name: rotate-windows;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-windows {
    0% {
        transform: perspective(500px) rotateY(-42deg);
        -webkit-transform: perspective(500px) rotateY(-42deg);
        -moz-transform: perspective(500px) rotateY(-42deg);
        -ms-transform: perspective(500px) rotateY(-42deg);
        -o-transform: perspective(500px) rotateY(-42deg);
    }

    50% {
        transform: perspective(500px) rotateY(0deg);
        -webkit-transform: perspective(500px) rotateY(0deg);
        -moz-transform: perspective(500px) rotateY(0deg);
        -ms-transform: perspective(500px) rotateY(0deg);
        -o-transform: perspective(500px) rotateY(0deg);
    }

    100% {
        transform: perspective(500px) rotateY(-42deg);
        -webkit-transform: perspective(500px) rotateY(-42deg);
        -moz-transform: perspective(500px) rotateY(-42deg);
        -ms-transform: perspective(500px) rotateY(-42deg);
        -o-transform: perspective(500px) rotateY(-42deg);
    }
}